.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);

}  

.icons {
  color: var(--text-color);
}

.register-title {
  color: var(--title-text-color);
  font-size: 24px;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.input-label {
  color: var(--title-text-color);
  margin-bottom: 0.5em;
}

.input-field {
  padding: 1em;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--input-area-bg-color);
  color: var(--text-color);
}

.registerButton {
  margin-top: 1em;
  padding: 0.7em;
  width: 70%;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-weight: bold;
  cursor: pointer;
}


.form-line {
  width: 5px;
  height: 6em;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  margin: 2em;
}

.form-or-container {
  grid-column: span 3;
}

.form-or-text {
  color: var(--button-color);
  font-size: 1.5em;
}

.social-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apple-register-button {
  background-color: black !important;
  margin-top: 2em !important;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  color: var(--button-text-color) !important;
  cursor: pointer;
}

.facebook-register-button {
  background-color: rgb(0, 102, 255) !important;
  margin-top: 2em !important;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  color: var(--button-text-color) !important;
  cursor: pointer;
}

.google-register-button {
  background-color: rgb(255, 65, 65) !important;
  margin-top: 2em !important;
  height: 50px;
  width: 200px;
  border-radius: 10px;;
  color: var(--button-text-color) !important;
  cursor: pointer;
}

.agreement {
  background-color: white;
}

.form-right{
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: auto;
  height: 100%;
  padding-top: 4em;
}

.form-middle{
  display: flex;
  flex: 0;
  margin: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-left{
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: auto;
  height: 100%;
}

.agreement-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 1em;
}

.agreement-checkbox-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nextSectionButton{
  margin-top: 2em !important;
}

.agreement-label-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 1em;
  margin-top: 1.5em;
}

.next-section-button{
  margin-top: 2em !important;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: var(--button-color) !important;
  color: var(--button-text-color) !important;
  cursor: pointer;
}

.terms-privacy-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.privacy-label, .terms-label{
  cursor: pointer;
  margin-right: 2em;
  color: var(--button-color);
  font-size: 14px;
}