.camera-access-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    padding-bottom: 7em;
}

.camera-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
}

.cameraView{
    display: flex;
    width: 350px;
    height: 350px;
    background-color: grey;
    border-radius: 10px;
}

.cameraAccessPermission{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.textForPerm{
    text-align: left;
}

#cameraAccessCheckbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top:7px;
}

.cameraAccessLabel{
    display: flex;
    flex-direction: row;
}

.cameraAccessLabel h2{
    margin-left: 10px;
}

.nextSectionButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}

.buttonContainer {
    text-align: right; /* Metni sağa hizalar */
  }
  
  .loginText {
    margin-top: 1em;
    color: var(--text-color); /* Metin rengi */
    cursor: pointer; /* Fare imleci */
  }
  
  .loginText:hover {
    text-decoration: underline; /* Fare metnin üzerine geldiğinde altını çizer */
  }
  