.courses-container {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.container-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
    justify-content: space-between;
    /* İçerikleri üst ve altta hizala */
    width: 100vw;
    height: 90vh;
    padding-left: 20px;
}

.sidebar-menu-items {
    flex-grow: 1;
    /* Menü maddelerinin kullanılabilir alanı doldurmasını sağla */
    padding: 20px;

}

.route-link {
    text-decoration: none;
    color: var(--button-color) !important;
    font-size: 20px;
}

.user-profile-container .user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.user-profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-logout {
    margin: 0;
    /* İstenirse alt kenar boşluğunu ayarla */
    text-align: center;
    /* Butonu merkezle */
}

.logout-button {
    height: 50px;
    width: 200px;
    border-radius: 10px !important;
    color: var(--button-text-color) !important;
    background-color: var(--button-color) !important;
    cursor: pointer;
    font-size: 20px;
}

.user-info .username {
    font-size: 24px;
    color: var(--title-color) !important;
}

.user-info .user-perm {
    font-size: 16px;
    color: var(--text-secondary-color) !important;
}

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 3;
    box-sizing: border-box;
    padding: 20px;
}


.courses-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.courses-title-icon {
    width: 36px !important;
    height: 36px !important;
    margin-right: 0.5em;
}

.courses-title {
    font-size: 36px;
}

.courses-lessons-cards {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* İki sütun oluştur */
    grid-template-rows: 1fr 1fr; /* İki satır oluştur */
    gap: 20px; /* Hücreler arası boşluk */
    
}

.lesson-card {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 100%;
    border-radius: 10px;
    text-align: start;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.lesson-image{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    
}

.lesson-hours{
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
}
.lesson-hours-label-icon{
    margin-right: 0.2em;
}

.lesson-card-button-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    flex-direction: row-reverse;
}

.lesson-button{
    height: 20px;
    border-radius: 10px;
    color: var(--text-color) !important;
    cursor: pointer;
    font-size: 20px;
}

.lesson-desc{
    margin-bottom: 0.5em;
}

.lesson-card-details-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
}