body {
  overflow: hidden;
}

.langCard {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 10px;
}

.langCard.selected{
  transform: scale(1.05); 
  background-color: var(
    --button-color
  );
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
}

.langCard.selected .MuiTypography-h5 {
  color: var(--button-text-color);
}

