@import url('../../App.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Natsuzemi Maru", sans-serif !important;
}

/* Header.css */
.MuiAppBar-root {
  background-color: transparent !important; /* AppBar arka plan rengini şeffaf yap */
  color: var(--title-text-color); /* AppBar yazı rengi */
  box-shadow: none !important; /* AppBar gölgesini kaldır */
}

.MuiToolbar-root {
  padding: 0 2rem; /* Toolbar iç padding */
  background-color: var(--appbar-color); /* AppBar arka plan rengi */
}

.MuiTypography-h6 {
  flex-grow: 1; /* Başlık elemanının esnek büyümesini sağlar */
  color: var(--title-text-color); /* AppBar yazı rengi */
  font-size: 20pt !important;
}

.MuiIconButton-edgeStart {
  margin-right: 1rem; /* Menu ikonu ve başlık arasındaki mesafe */
}

.icons{
  color:var(--title-text-color) !important;
}



