.section-choose-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100vh;
    padding-bottom: 10em;
}

.choose-plan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
}

.choose-plan-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    
}

.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.167);
}

.plan-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.confirm-plan-button, .choose-plan-button {
    margin-top: 2em !important;
    height: 50px;
    width: 140px;
    border-radius: 10px;
    background-color: var(--button-color) !important;
    color: var(--button-text-color) !important;
    cursor: pointer;
}

.plan-details{
    text-align: left;
}