body {
  overflow: hidden;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: white;
}

.welcomeLeftContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10em;
  padding-bottom: 10em;
}

.welcomeRightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  padding-left: 20em;
  padding-bottom: 10em;
}

.welcomePageTitle {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: var(--title-text-color);
}

.welcomePageDesc {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: var(--text-secondary-color);
}

.nextButton {
  height: 50px;
  width: 140px;
  border-radius: 10px;
  background-color: var(--button-color) !important;
  color: var(--button-text-color) !important;
  cursor: pointer;
  }

.welcomeLottie {
  width: 100%;
  height: auto;
}

.welcomeLoginText{
  cursor: pointer;
  margin-top: 1em;
  color: var(--text-color)
}
